*{
    font-family: sans-serif;
    margin: 0;
    box-sizing: border-box;
    --col1:#3e4839;
    --col2:#bbd8ac;
    --col3:#d0f0c0;
    --col4:#687860;
    --col5:#141813;
}
nav{
    float: left;
    display: flex;
    flex-direction: column;
    background-color:#3e4839;
    color: #d0f0c0;
    width: 10%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
}
nav a{
    text-decoration: none;
    color:#d0f0c0;
    margin: 25px 0;
}
.logo{
    position: absolute;
    top: 2%;
    font-size: 1.2rem;
    font-weight: 800;
}
.container{
    min-height: 100vh;
    background-color: #141813;
    color: #687860;
    display: grid;
    grid-template-columns: 2fr 3fr;
}
.container h1{
    color: #d0f0c0;
    font-size: 1.7rem;
}
.profile-img{
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:1px 0px 2px #fff;
    position: relative;
}
.profile-img img{
    width: 100%;
    flex: 5;
    padding: 20px;
    border-radius: 15%;
    margin-bottom: 10px;
}
.profile-img h1,
.profile-img h3{
    flex: 2;
    margin-bottom: 10px;
}
.about-me,.skill{
    padding: 10% 10%;
}
.about-me h1,.skill h1{
    margin-bottom: 25px;
    grid-column: 1/3;
}
.skill{
    display: grid;
    grid-template-columns: 1fr 1fr;
}